/.bundle/
/.yardoc
/_yardoc/
/coverage/
/doc/
/pkg/
/spec/reports/
/tmp/
*.gem
*.rbc
*.rbo
*.swp
/.env
/.env.*
/log/
/.byebug_history
**/*.orig
*.lock
/node_modules/
/vendor/bundle
.DS_Store
.idea/
.vscode/
